body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
  background: rgb(0,212,255);
  background: linear-gradient(90deg, rgba(0,212,255,1) 0%, rgba(9,121,119,1) 57%, rgba(2,0,36,1) 99%);
}

.title {
  font-size: 50px;
  font-family: sans-serif;
  text-align: center;

}

span {
  display: inline-block;
  font-weight: bolder;
  animation: mover 6s linear infinite;
}
@keyframes mover{
  0%{
    text-shadow: 0 0 30px rgba(0,0,0,0);
  }
  50%{
    text-shadow: 0 0 30px rgba(0,0,0,0.30);
    transform: translateY(30px);
  }
  100%{
    text-shadow: 0 0 30px rgba(0,0,0,0);
  }
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}
